@import "./variables";
@import "./mixins";

/******** Header ********/
header {
  border-bottom: .1rem solid rgba($gray, .2);

  /* Top bar of the header*/
  .header-top-bar {
    background-color: $lightGray;
    padding: .5rem 0;

    .container {
      @include center-vertically;
      justify-content: space-between;

      > a {
        color: $gray;
        font-size: 1.3rem;
        text-decoration: none;
        transition: all .2s;
      }

      .schnelle-lieferung,
      .faire-preise {
        @include center-vertically;

        span {
          margin-left: .3rem;
        }

        &:hover {
          color: $darkGray;
        }
      }

      .trusted-shops {
        @include center-vertically;

        &:hover {
          color: $darkGray;
        }

        img {
          width: 2rem;
          height: 2rem;
          margin: 0 .32rem;
        }

        span {
          margin: 0 .32rem;
        }

        aside {
          line-height: 1;

          ion-icon {
            color: $yellow;
            font-size: 1.3rem;
          }
        }
      }


      .header-dropdowns {
        @include center-vertically;

        .select-language {
          position: relative;
          width: 3.5rem;
          margin-right: 1rem;
          cursor: pointer;

          img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1.4rem;
          }

          select {
            width: 100%;
            background: none;
            color: transparent;
            border: none;
            outline: none;
            position: relative;
            z-index: 10;

            option {
              color: $darkGray; 
            }
          }

          ion-icon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1.6rem;
            font-size: 1.3rem;
            color: $gray;

            &:hover {
              color: $darkGray;
            }
          }
        }

        .service-hilfe {
          position: relative;

          button {
            background: none;
            border: none;
            display: flex;
            align-items: center;
            color: $gray;
            font-size: 1.2rem;

            &:focus {
              outline: none;
            }

            span {
              margin: 0 .3rem;
            }

            svg {
              width: 2rem;
              height: 2rem;
    
              * {
                fill: $gray;
                transition: fill .2s;
              }
            }
    
            &:hover {
              color: $darkGray;
    
              svg {
                * {
                  fill: $darkGray;
                }
              }
            }
          }
          
          ul {
            position: absolute;
            top: 2rem;
            background-color: $white;
            list-style: none;
            display: none;

            &.dropdown-visible {
              display: block;
            }

            li {
              padding: .6rem .9rem;
              border-radius: 2px;
              a {
                text-decoration: none;
                font-size: 1.3rem;
                color: $gray;
              }

              &:hover {
                background-color: $lightGray;

                a {
                  color: $darkGray;
                }
              }
            }
          }
        }
      }
    }
  }

  /* Main content of the header */
  .header-content {
    padding: 2rem 0;

    .container {
      form {
        @include center-vertically;

        > img {
          width: 4.8rem;
          margin-right: 3rem;
        }

        .input-container {
          position: relative;
          flex: 1;
          margin-right: 3rem;

          &:hover {
            input {
              box-shadow: 0 0 .8rem rgba($darkGray, .2);
              border: .1rem solid $gray;
            }
          }

          
          input {
            width: 100%;
            padding: 1.2rem;
            padding-left: 4.6rem;
            border: none;
            border-radius: 5px;
            background-color: $lightGray;
            color: $darkGray;

            &::placeholder {
              color: $gray;
            }

            &::-webkit-input-placeholder {
              color: $gray;
            }

            &::-moz-placeholder {
              color: $gray;
            }

            &:focus {
              outline: none;
              background-color: $white;
              box-shadow: 0 0 .8rem rgba($darkGray, .2);
              border: .1rem solid $gray;
            }
          }

          button {
            position: absolute;
            left: 1.2rem;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            text-decoration: none;
            font-size: 2.3rem;
            line-height: 1;

            &:focus {
              outline: none;
            }

          }

        }

        > a {
          text-decoration: none;
          color: $darkGray;
          font-size: 2.7rem;
          @include center-vertically;

          &:not(:last-child) {
            margin-right: 1rem;
          }

          span {
            font-size: 1.5rem;
            margin-left: .8rem;
          }
        }
      }

      nav {
        margin-top: 2rem;
        ul {
          @include center-vertically;
          list-style: none;
          
          li {
            margin-right: 2rem;

            a {
              text-decoration: none;
              color: $darkGray;
              font-size: 1.3rem;
              padding-bottom: 1rem;
              border-bottom: .2rem solid transparent;
            }

            &:hover {
              a {
                border-color: $darkGray;
              }
            }
          }
        }
      }
    }
  }
}