/******** Variables ********/
/******** General Styles ********/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 116.4rem;
  margin: 0 auto;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

/******* Mixins ********/
/* General Mixins */
/* Mixin for media queries:
This is a way to have "inline media queries" and to seperate concerns, 
instead of having all media queries in one block
*/
/******** Variables ********/
/******* Mixins ********/
/* General Mixins */
/* Mixin for media queries:
This is a way to have "inline media queries" and to seperate concerns, 
instead of having all media queries in one block
*/
/****************** Header ******************/
header {
  border-bottom: 0.1rem solid rgba(136, 136, 136, 0.2);
  /****************** Top bar of the header ******************/
  /****************** Main content of the header ******************/
}

header .header-top-bar {
  background-color: #f3f3f3;
  padding: .5rem 0;
}

@media only screen and (max-width: 48.75em) {
  header .header-top-bar {
    display: none;
  }
}

header .header-top-bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-top-bar .container > a {
  color: #888;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header .header-top-bar .container > a > span {
  font-size: 1.14rem;
}

header .header-top-bar .container .schnelle-lieferung,
header .header-top-bar .container .faire-preise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-top-bar .container .schnelle-lieferung:hover,
header .header-top-bar .container .faire-preise:hover {
  color: #3a3a3a;
}

header .header-top-bar .container .schnelle-lieferung span,
header .header-top-bar .container .faire-preise span {
  margin-left: .4rem;
}

header .header-top-bar .container .schnelle-lieferung ion-icon,
header .header-top-bar .container .faire-preise ion-icon {
  font-size: 1.6rem;
}

header .header-top-bar .container .trusted-shops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-top-bar .container .trusted-shops:hover {
  color: #3a3a3a;
}

header .header-top-bar .container .trusted-shops img {
  width: 2rem;
  height: 2rem;
  margin: 0 .32rem;
}

header .header-top-bar .container .trusted-shops span {
  margin: 0 .32rem;
}

header .header-top-bar .container .trusted-shops aside {
  line-height: 1;
}

header .header-top-bar .container .trusted-shops aside ion-icon {
  color: #f4c20d;
  font-size: 1.3rem;
}

header .header-top-bar .container .header-dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-top-bar .container .header-dropdowns .select-language {
  position: relative;
  width: 3.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

header .header-top-bar .container .header-dropdowns .select-language img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.4rem;
}

header .header-top-bar .container .header-dropdowns .select-language select {
  width: 100%;
  background: none;
  color: transparent;
  border: none;
  outline: none;
  position: relative;
  z-index: 10;
}

header .header-top-bar .container .header-dropdowns .select-language select option {
  color: #3a3a3a;
}

header .header-top-bar .container .header-dropdowns .select-language ion-icon {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
  color: #888;
}

header .header-top-bar .container .header-dropdowns .select-language ion-icon:hover {
  color: #3a3a3a;
}

header .header-top-bar .container .header-dropdowns .service-hilfe {
  position: relative;
}

header .header-top-bar .container .header-dropdowns .service-hilfe button {
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #888;
  -webkit-transform: translateX(0.3rem);
          transform: translateX(0.3rem);
}

header .header-top-bar .container .header-dropdowns .service-hilfe button:focus {
  outline: none;
}

header .header-top-bar .container .header-dropdowns .service-hilfe button:hover {
  color: #3a3a3a;
}

header .header-top-bar .container .header-dropdowns .service-hilfe button span {
  margin: 0 .3rem;
  font-size: 1.14rem;
}

header .header-top-bar .container .header-dropdowns .service-hilfe button ion-icon {
  font-size: 1.5rem;
}

header .header-top-bar .container .header-dropdowns .service-hilfe ul {
  position: absolute;
  top: 2.2rem;
  right: -.3rem;
  padding: .5rem;
  background-color: #fff;
  list-style: none;
  display: none;
  z-index: 10;
  -webkit-box-shadow: 0 0 0.8rem rgba(136, 136, 136, 0.17);
          box-shadow: 0 0 0.8rem rgba(136, 136, 136, 0.17);
}

header .header-top-bar .container .header-dropdowns .service-hilfe ul.dropdown-visible {
  display: block;
}

header .header-top-bar .container .header-dropdowns .service-hilfe ul li {
  padding: .6rem .9rem;
  border-radius: 2px;
  width: 14.8rem;
}

header .header-top-bar .container .header-dropdowns .service-hilfe ul li a {
  text-decoration: none;
  font-size: 1.14rem;
  color: #888;
}

header .header-top-bar .container .header-dropdowns .service-hilfe ul li:hover {
  background-color: #f3f3f3;
}

header .header-top-bar .container .header-dropdowns .service-hilfe ul li:hover a {
  color: #3a3a3a;
}

header .header-content {
  padding: 2rem 0;
  overflow: hidden;
}

@media only screen and (max-width: 48.75em) {
  header .header-content {
    padding: 1.5rem 0;
  }
}

header .header-content .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-content .container form > img {
  width: 4.8rem;
  margin-right: 3rem;
}

@media only screen and (max-width: 48.75em) {
  header .header-content .container form > img {
    margin-right: auto;
  }
}

header .header-content .container form .input-container {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 3rem;
}

@media only screen and (max-width: 48.75em) {
  header .header-content .container form .input-container {
    display: none;
  }
}

header .header-content .container form .input-container:hover input {
  -webkit-box-shadow: 0 0 0.8rem rgba(58, 58, 58, 0.2);
          box-shadow: 0 0 0.8rem rgba(58, 58, 58, 0.2);
  border: 0.1rem solid #888;
}

header .header-content .container form .input-container:hover button ion-icon {
  --ionicon-stroke-width: 4.8rem;
}

header .header-content .container form .input-container input {
  width: 100%;
  padding: 1.2rem;
  padding-left: 4.6rem;
  border: none;
  border-radius: 5px;
  background-color: #f3f3f3;
  color: #3a3a3a;
  border: .1rem solid transparent;
  -webkit-transition: all .4s;
  transition: all .4s;
}

header .header-content .container form .input-container input::-webkit-input-placeholder {
  color: #888;
}

header .header-content .container form .input-container input:-ms-input-placeholder {
  color: #888;
}

header .header-content .container form .input-container input::-ms-input-placeholder {
  color: #888;
}

header .header-content .container form .input-container input::placeholder {
  color: #888;
}

header .header-content .container form .input-container input::-webkit-input-placeholder {
  color: #888;
}

header .header-content .container form .input-container input::-moz-placeholder {
  color: #888;
}

header .header-content .container form .input-container input:focus {
  outline: none;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0.8rem rgba(58, 58, 58, 0.2);
          box-shadow: 0 0 0.8rem rgba(58, 58, 58, 0.2);
  border: 0.1rem solid #888;
}

header .header-content .container form .input-container button {
  position: absolute;
  left: 1.2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: none;
  border: none;
  text-decoration: none;
  font-size: 2.3rem;
  line-height: 1;
}

header .header-content .container form .input-container button:focus {
  outline: none;
}

header .header-content .container form .input-container button ion-icon {
  -webkit-transition: all .4s;
  transition: all .4s;
}

header .header-content .container form > a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 2.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-content .container form > a:not(.cart-icon) {
  margin-right: 1rem;
}

header .header-content .container form > a.search-icon {
  display: none;
}

@media only screen and (max-width: 48.75em) {
  header .header-content .container form > a.search-icon {
    display: block;
  }
}

@media only screen and (max-width: 48.75em) {
  header .header-content .container form > a.cart-icon {
    margin-right: 1rem;
  }
}

header .header-content .container form > a.menu-icon {
  display: none;
  margin-right: 0;
}

@media only screen and (max-width: 48.75em) {
  header .header-content .container form > a.menu-icon {
    display: block;
    line-height: .4;
  }
}

header .header-content .container form > a:hover ion-icon {
  --ionicon-stroke-width: 4.8rem;
}

header .header-content .container form > a ion-icon {
  -webkit-transition: all .4s;
  transition: all .4s;
}

header .header-content .container form > a span {
  font-size: 1.4rem;
  margin-left: 1rem;
}

@media only screen and (max-width: 48.75em) {
  header .header-content .container form > a span {
    display: none;
  }
}

header .header-content .container nav {
  margin-top: 2rem;
  position: relative;
}

header .header-content .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header .header-content .container nav ul li {
  margin-right: 2rem;
}

header .header-content .container nav ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1.14rem;
  padding-bottom: .8rem;
  border-bottom: .2rem solid transparent;
}

header .header-content .container nav ul li:hover a {
  border-color: #3a3a3a;
}

header .header-content .container nav ul span {
  height: 1.5rem;
  width: .1rem;
  background-color: rgba(136, 136, 136, 0.15);
  margin-left: -6px;
  margin-right: 15px;
}

@media only screen and (max-width: 48.75em) {
  header .header-content .container nav {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */